@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: all 200ms;
}

:focus:not(:focus-visible) {
  outline: none; /* Remove o contorno padrão */
  scale:none;
}
:focus {
  outline-color: #dfb80c; 
  outline-style:dashed; /* Você pode alterar o estilo do contorno (dotted, dashed, etc.) se desejar */
  outline-width: 4px; /* A largura do contorno, ajuste conforme necessário */
  transition: all 0s;
  opacity: 1;
  scale:1.01;
}
.scrollbar1::-webkit-scrollbar {
  width: 10px;  
  border-radius: 10px;
}

/* Cursor na barra de rolagem */
.scrollbar1::-webkit-scrollbar-thumb {
  background-color: #7cb4f3; /* Cor da barra de rolagem */
  border-radius: 2px; /* Raio das bordas da barra de rolagem */
}

/* Fundo da barra de rolagem */
.scrollbar1::-webkit-scrollbar-track {
  background-color: #575757; /* Cor de fundo da barra de rolagem */
}
.scrollbar::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  border-radius: 10px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Cursor na barra de rolagem */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #2F2347; /* Cor da barra de rolagem */
  border-radius: 10px; /* Raio das bordas da barra de rolagem */
}

/* Fundo da barra de rolagem */
.scrollbar::-webkit-scrollbar-track {
  background-color: #8E98A8; /* Cor de fundo da barra de rolagem */
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
